@import 'variables';

.button {
    padding: 0.75rem 2rem;
    background: $primary-color; // Fallback for browsers that don't support gradients
    background-image: linear-gradient(45deg, $primary-color, $link-hover-color);
    color: $secondary-color;
    text-decoration: none;
    font-weight: bold;
    border-radius: $button-border-radius;
    transition: background-image 0.3s ease;

    &:hover {
        background-image: linear-gradient(45deg, darken($primary-color, 10%), darken($link-hover-color, 10%));
    }
}