@import 'variables';

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    width: 100%;
    max-width: $container-max-width;
    margin: 0 auto;
    padding: 0 15px;
}
