@import 'variables';

h1, h2, h3, h4, h5, h6 {
    color: $link-hover-color; // Using the strong orange
    margin-bottom: 1rem;
    font-weight: 700;
}

p {
    font-size: 1.2rem;
    color: $text-color;
    margin-bottom: 1.5rem;
}