$primary-color: #f5c518;
$secondary-color: #1c1c1c;
$text-color: #e5e5e5;
$background-color: #141414;
$link-color: $primary-color;
$link-hover-color: #ff8c00;
$footer-bg-color: #222222;
$footer-text-color: #b3b3b3;
$font-family: 'Helvetica Neue', Arial, sans-serif;
$container-max-width: 1200px;
$button-border-radius: 50px;