{% extends 'base.html' %}
{% load static %}
{% block title %}Welcome to RecAnthology{% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static 'main/css/home.css' %}">
{% endblock head %}

{% block content %}
<section class="welcome-section">
    <div class="container">
        <div class="welcome-content">
            <h1 class="welcome-title">Discover Your Next Favorite Show</h1>
            <p class="welcome-description">RecAnthology brings you personalized recommendations and curated lists of Books, TV shows and movies, tailored to your tastes. Start exploring today!</p>
            <div class="welcome-buttons">
                <a href="#" class="button">Explore Books</a>
                <a href="#" class="button">Explore TV shows and movies</a>
                <a href="#" class="button button-secondary">Join Us</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}
